<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPL WINNER</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

	<div class="f-box">
		<h2>IPL MATCH WINNER PREDICTION</h2>
      <center>
        <h3 style="color:white">WIN PROBABILITIES</h3>

        <form action="back" method="GET">

	        {% if databat %}
                <h3 class="heade" style="color:white">{{databat}}</h3>  
	        {%endif%}
           
                {% if dataw >=0 %}
                <h3 class="inp" style="color:white">{{dataw}} % </h3>
                {%endif%}
  

            {% if databowl %}
                <h3 class="heade" style="color:white">{{databowl}}</h3>  
            {%endif%}
                {% if datal >=0 %}
                    <h3 class="inp" style="color:white" >{{datal}} % </h3>
                {%endif%}
            </center>
	  
            <input type="submit" id="btnn" value="Home">
   
        </form>
    </div>
</body>
</html>